pkgbase = python-pympress
	pkgdesc = Dual-screen PDF reader designed for presentations
	pkgver = 1.8.3
	pkgrel = 1
	url = https://github.com/Cimbali/pympress
	arch = any
	license = GPL
	makedepends = python-setuptools
	depends = python
	depends = poppler
	depends = poppler-glib
	depends = python-gobject
	depends = python-cairo
	depends = gtk3
	depends = python-watchdog
	optdepends = gstreamer: for media playback
	optdepends = gst-plugins-base: for media playback
	optdepends = gst-plugin-gtk: for media playback
	optdepends = gst-plugins-good: additional media codecs
	optdepends = gst-libav: additional media codecs
	optdepends = gst-plugins-bad: additional media codecs
	optdepends = gst-plugins-ugly: additional media codecs
	optdepends = vlc: alternative media playback option
	optdepends = python-vlc: alternative media playback option
	source = https://github.com/Cimbali/pympress/releases/download/v1.8.3/pympress-1.8.3.tar.gz
	sha256sums = 0726ccce72b3b95dac0e6f677bec6b8b961b478339f227708766f66f7214fdbd

pkgname = python-pympress
