pkgbase = python-pympress
	pkgdesc = Dual-screen PDF reader designed for presentations
	pkgver = 1.8.1
	pkgrel = 2
	url = https://github.com/Cimbali/pympress
	arch = any
	license = GPL
	makedepends = python-setuptools
	depends = python
	depends = poppler
	depends = poppler-glib
	depends = python-gobject
	depends = python-cairo
	depends = gtk3
	depends = python-watchdog
	optdepends = gstreamer: for media playback
	optdepends = gst-plugins-base: for media playback
	optdepends = gst-plugin-gtk: for media playback
	optdepends = gst-plugins-good: additional media codecs
	optdepends = gst-libav: additional media codecs
	optdepends = gst-plugins-bad: additional media codecs
	optdepends = gst-plugins-ugly: additional media codecs
	optdepends = vlc: alternative media playback option
	optdepends = python-vlc: alternative media playback option
	source = https://github.com/Cimbali/pympress/releases/download/v1.8.1/pympress-1.8.1.tar.gz
	sha256sums = 35867d6ad060b00edac1404e5033d275f22f0a41d2d9e04746d5c699aa879235

pkgname = python-pympress
