pkgbase = python-pympress
	pkgdesc = Dual-screen PDF reader designed for presentations
	pkgver = 1.8.2
	pkgrel = 1
	url = https://github.com/Cimbali/pympress
	arch = any
	license = GPL
	makedepends = python-setuptools
	depends = python
	depends = poppler
	depends = poppler-glib
	depends = python-gobject
	depends = python-cairo
	depends = gtk3
	depends = python-watchdog
	optdepends = gstreamer: for media playback
	optdepends = gst-plugins-base: for media playback
	optdepends = gst-plugin-gtk: for media playback
	optdepends = gst-plugins-good: additional media codecs
	optdepends = gst-libav: additional media codecs
	optdepends = gst-plugins-bad: additional media codecs
	optdepends = gst-plugins-ugly: additional media codecs
	optdepends = vlc: alternative media playback option
	optdepends = python-vlc: alternative media playback option
	source = https://github.com/Cimbali/pympress/releases/download/v1.8.2/pympress-1.8.2.tar.gz
	sha256sums = 89e616b82f6d5fac2baf02f3a6450612c720bd6b70822efaa41865b4e9b89a86

pkgname = python-pympress
